In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('train.csv')
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
n = len(df.columns)
n

81

In [4]:
df.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [5]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [6]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [7]:
# Check the presence of missing values and delete the Columns where more than 60% data are missing.
print (df.isin([' ','NULL',0]))
print (df.isin([' ','NULL',0]).mean())
df = df.loc[:, df.isin([' ','NULL',0]).mean() < .6]
len(df.columns)


# for rows
# df2 = df[df.isnull().sum(axis=1) < 48]
# df2.shape

         Id  MSSubClass  MSZoning  LotFrontage  LotArea  Street  Alley  \
0     False       False     False        False    False   False  False
1     False       False     False        False    False   False  False
2     False       False     False        False    False   False  False
3     False       False     False        False    False   False  False
4     False       False     False        False    False   False  False
...     ...         ...       ...          ...      ...     ...    ...
1455  False       False     False        False    False   False  False
1456  False       False     False        False    False   False  False
1457  False       False     False        False    False   False  False
1458  False       False     False        False    False   False  False
1459  False       False     False        False    False   False  False

      LotShape  LandContour  Utilities  ...  PoolArea  PoolQC  Fence  \
0        False        False      False  ...      True   False  False
1        False        False      False  ...      True   False  False
2        False        False      False  ...      True   False  False
3        False        False      False  ...      True   False  False
4        False        False      False  ...      True   False  False
...        ...          ...        ...  ...       ...     ...    ...
1455     False        False      False  ...      True   False  False
1456     False        False      False  ...      True   False  False
1457     False        False      False  ...      True   False  False
1458     False        False      False  ...      True   False  False
1459     False        False      False  ...      True   False  False

      MiscFeature  MiscVal  MoSold  YrSold  SaleType  SaleCondition  SalePrice
0           False     True   False   False     False          False      False
1           False     True   False   False     False          False      False
2           False     True   False   False     False          False      False
3           False     True   False   False     False          False      False
4           False     True   False   False     False          False      False
...           ...      ...     ...     ...       ...            ...        ...
1455        False     True   False   False     False          False      False
1456        False     True   False   False     False          False      False
1457        False    False   False   False     False          False      False
1458        False     True   False   False     False          False      False
1459        False     True   False   False     False          False      False

[1460 rows x 81 columns]
Id               0.0
MSSubClass       0.0
MSZoning         0.0
LotFrontage      0.0
LotArea          0.0
                ...
MoSold           0.0
YrSold           0.0
SaleType         0.0
SaleCondition    0.0
SalePrice        0.0
Length: 81, dtype: float64

72

In [18]:
df.fillna(df.mean(), inplace=True)

In [19]:
# for col_name in df.columns:
#     if(df[col_name].dtype == 'object'):
#         df[col_name] = df[col_name].astype('category')
#         df[col_name] = df[col_name].cat.codes

# df

df = pd.get_dummies(df,drop_first=True)
df

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,0,1,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,0,1,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,0,1,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,0,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,0,0,0,1,0,0,0,1,0
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,0,0,0,0,1,0,0,0,1,0
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,0,0,0,1,0,0,0,1,0
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,0,0,0,0,1,0,0,0,1,0
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,0,0,0,0,1,0,0,0,1,0

In [20]:
# dependent and independent variable extraction
X = df.iloc[:, :-1]
Y = df.iloc[:, -1]

In [21]:
# splitting the dataset
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [22]:
# Feature Scalling --- Standardization
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [25]:
# SVM - Support Vector Machine
from sklearn import svm
model = svm.SVR(kernel='linear')
model.fit(X_train,Y_train)

SVR(kernel='linear')

In [26]:
Y_pred = model.predict(X_test)

In [30]:
# SVM with Default parameter means C=1.0, kernel=rbf and gamma=auto among other parameters)
from sklearn.metrics import r2_score, mean_squared_error
print("R2 score: ", r2_score(Y_test, Y_pred))
print("MSE: ", mean_squared_error(Y_test, Y_pred))

R2 score:  0.8902454137824096
MSE:  0.008592276494211104

In [31]:
# SVM with rbf kernel and C=100.0
model = svm.SVC(kernel='rbf', C=100)
model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)
print("R2 score: ", r2_score(Y_test, Y_pred))
print("MSE: ", mean_squared_error(Y_test, Y_pred))

R2 score:  0.8687640449438202
MSE:  0.010273972602739725

In [32]:
# SVM with rbf kernel and C=1000.0
model = svm.SVC(kernel='rbf', C=1000)
model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)
print("R2 score: ", r2_score(Y_test, Y_pred))
print("MSE: ", mean_squared_error(Y_test, Y_pred))

R2 score:  0.8687640449438202
MSE:  0.010273972602739725

In [33]:
# SVM with linear kernel and C=1.0
model = svm.SVC(kernel='linear', C=1)
model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)
print("R2 score: ", r2_score(Y_test, Y_pred))
print("MSE: ", mean_squared_error(Y_test, Y_pred))

R2 score:  0.9125093632958802
MSE:  0.00684931506849315

In [34]:
# SVM with linear kernel and C=100.0
model = svm.SVC(kernel='linear', C=100)
model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)
print("R2 score: ", r2_score(Y_test, Y_pred))
print("MSE: ", mean_squared_error(Y_test, Y_pred))

R2 score:  0.9125093632958802
MSE:  0.00684931506849315

In [35]:
# SVM with linear kernel and C=1000.0
model = svm.SVC(kernel='linear', C=1000)
model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)
print("R2 score: ", r2_score(Y_test, Y_pred))
print("MSE: ", mean_squared_error(Y_test, Y_pred))

R2 score:  0.9125093632958802
MSE:  0.00684931506849315